*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1C1C1C;
  list-style: none;
  text-decoration: none;
}

.center{
  position: relative;
  display: block;
  background-color: #1C1C1C;
  height: 80px;
  width: 100%;
}

html,body{
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-image: url(../img/Wallpaper.png);
}

hr{
  position: relative;
  border-color: #4e4a4a;
}

.menu{
  width: 1000px;
  height: 100%;
  display: block;
  margin: auto;
}

.logo{
  height: 100%;
  display: table;
  float: left;
}

.logo h1{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo h1 a{
  color: #05A869;
  font-size: 35px;
}

nav{
  float: right;
  height: 100%;
}

nav a{
  height: 100%;
  display: table;
  float: left;
  padding: 28px 20px;
}

nav a:last-child{
  padding-right: 0;
}

nav a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #EFEFEF;
}

nav a li span{
  color: #05A869;
}

.contatar{
  color:#05A869;
  font-size: 40px;
  margin: auto;
  margin-top: 15px;
  display: table;
}

form{
  display: table;
  margin-top: 0px;
  padding: 22px;
  width: 750px;
  float: right;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
}

.form_group{
  margin-bottom: 13px;
  position: relative;
  background-color: transparent;
}

.app_form input{
  width: 100%;
  height: 60px;
  padding: 10px;
  margin-left: -30px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color:#EFEFEF;
  border-color: #05A869;
  border-radius: 10px;
}

.app_form textarea{
  resize: none;
  height: 145px;
  width: 100%;
  padding: 10px;
  margin-left: -30px;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color:#EFEFEF;
  border-color: #05A869;
  border-radius: 10px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #05A869;
}

.app_form span{
  color: #EFEFEF;
  position: absolute;
  left: -15px;
  top: 32px;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0.3;
}

.app_form input:focus ~ span,
.app_form input:valid ~ span,
.app_form textarea:focus ~ span,
.app_form textarea:valid ~ span
{
  transform: translateY(-40px);
  font-size: 15px;
  opacity: 1;
  color: #05A869;
}

input[type =submit]{
  position: absolute;
  width: 13%;
  margin-top: -10px;
  margin-left: 500px;
  background-color: #05A869;
  color:#EFEFEF;
  border: none;
  cursor: pointer;
}

input[type =reset]{
  position: absolute;
  width: 13%;
  margin-top: -10px;
  margin-left: 280px;
  background-color: #05A869;
  color:#EFEFEF;
  border: none;
  cursor: pointer;
}


h2{
  color: #EFEFEF;
  padding-left: 40px;
  margin-top: 20px;
  font-size: 32px;
  width: 580px;
  animation: slide2 2s;
}

section p{
  color: #EFEFEF;
  padding-left: 50px;
  margin-top: 10px;
  font-size: 22px;
  display: table;
  text-align: justify;
  width: 560px;
  animation: slide2 2.5s;
}

article img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: fixed; 
  animation: fadein 2s;
}

.gmail{
  position: absolute;
  color: #EFEFEF;
  display: table;
  left: 130px;
  bottom: 208px;
  font-size: 22px;
  animation: fadein 3s;
}

.zap{
  position: absolute;
  color: #EFEFEF;
  display: table;
  left: 128px;
  bottom: 103px;
  font-size: 22px;
  animation: fadein 3s;
}

.email{
  bottom: 190px;
  left: 40px;
}

.whatsapp{
  bottom: 85px;
  left: 40px;
}

@keyframes slide1{
  0% {transform: translateY(-23px)}
  100% {transform: translateY(0px)}
  0% {opacity: 0}
  35% {opacity: 0}
  100% {opacity: 1}
}

@keyframes slide2{
  0% {transform: translateX(-165px)}
  100% {transform: translateY(0px)}
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadein{
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1}
}